<div class="container">
  <h1>Hello <%= current_user.name %></h1>

  <div class="left-container">
    <h3>Your booked session:</h3>
    <ul>
      <% @bookings.each do |booking| %>
        <li><%= booking.lesson.name %> : <%= booking.lesson.appointment %></li>
      <% end %>
    </ul>
  </div>
  <div class="right-container">
    <h3>Your performances</h3>
    <h4>Calories = <%= (rand() * 16000).round %></h4>
    </ul>
  </div>
</div>
