<div class="footer">
  <div class="footer-links">
    <span>Follow us:</span>
    <a href="https://www.commodafrica.com/sites/commodafrica.com/files/savane.jpg" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.alteralpatourisme.com/medias/images/prestations/multitailles/640x480_55066-mdpn_11_2018_174_copier.jpg" target="blank"><i class="fab fa-facebook"></i></a>
    <a href="https://avignon-arts-contemporains.com/wp-content/uploads/2018/03/Atelier-ARTEPHILE.jpg" target="blank"><i class="fab fa-twitter"></i></a>
  </div>

  <div class="footer-copyright">
    <span>© 2020 SweatR, Inc. All rights reserved.</span>
  </div>
</div>
