
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_url("outdoor_workout_man.jpg") %>);">
  <div class="banner-container">
    <div class="banner-text">
      <h1>You’re looking for motivation ? We’ve got plenty ! </h1>
      <p>Discover our personal home training<span id="banner-typed-text"></span></p>
    </div>
    <a class="btn btn-flat" id="btn-home" href="/lessons">Get started</a>
  </div>
</div>
