<div class="container">
  <% Specialty.all.each do |specialty| %>
    <div class="sport-category">
      <h1><%= specialty.name %></h1>
      <div class="row">
        <div class="col-12">
          <div class="card-slick">
            <% tests = @lessons.joins(:coach).where("coaches.specialty_id = ?", specialty.id) %>
            <% tests.each do |lesson| %>
                  <%= render "card", lesson: lesson %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>




