<div class="container">
  <div class="row">
    <% @lessons.each do |lesson| %>
      <div class="col-xs-12 col-md-4">
        <%= render "card", lesson: lesson %>
      </div>
    <% end %>
  </div>
</div>
