<div class="card-product-coach">
  <div class="card-img-top">
    <%= cl_image_tag coach.avatar_picture %>
  </div>
  <h3><%= coach.specialty.name %></h3>
  <div class="card-coach-infos">
    <p> <%= coach.bio %> </p>
  </div>
</div>

