<div class="container">
  <div class="row">
    <% @coaches.each do |coach| %>
      <div class="col-xs-12 col-md-4">
        <%= render "card", coach: coach %>
      </div>
    <% end %>
  </div>
</div>

