body {
  margin-top: 56px;
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  z-index: 10;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 70px;
  margin: 0;
  padding: 0;
}
