.modal-title {
  text-align: center;
}

.modal-close {
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  right: 20px;
  top: -5px;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  outline: 0;
}

.modal-body h3 {
  text-align: center
}

.modal-picture img {
  max-inline-size: -webkit-fill-available;
}
.modal-picture-coach {
  text-align: center;
  > img{
  border-radius:50%;
  width:200px;
  height:200px;
  }
}

.page-container {
  background-color: white;
  margin-top: 70px;
  min-height: calc(100vh - 170px);
}

.sport-category {
  padding: 10px;
  color: #F67380;
  h2 {
    margin-top: 20px;
    border-bottom: 1px solid #E5E5E5;
    padding: 8px 0px;
    font-size: 26px;
    font-weight: bold;
    color: black;
  }
}
