.plyr {
  max-width: 70% !important;
}

.lesson-show {
  text-align: center;
}

.lesson-show h3 {
  text-align: center;
}

.classes-description {
  color: black;
  padding: 45px;
  margin-left: -90px;
}

#player {
  height: 670px;
  width: 1180px;
  margin: -15px;
}

.show-container {
  display: flex !important;
}

.btn-dashboard a {
  color: black;
  box-shadow: 10px;
}
.plyr__video-embed {
  padding-bottom: 56.25%;
  margin: 15px;
}

#video-timer {
  position: absolute;
  background: $gray;
  right: 0px;
  top: 0px;
  font-size: 30px;
  font-weight: bold;
  padding: 20px;
  padding-bottom: 10px;
  color: white;
}

.sweatr-stream {
  width: 600px;
  height: 300px
}
