.plyr {
  max-width: 70% !important;
}

.lesson-show {
  text-align: center;
}

.lesson-show h3 {
  text-align: center;
}

.classes-description {
  color: black;
  padding: 45px;
}

#player {
  height: 670px;
  width: 1180px;
  margin: -15px;
}

.video-and-description {
  display: flex;
  justify-content: center;
}

.btn-dashboard a {
  color: black;
  box-shadow: 10px;
}
.plyr__video-embed {
  padding-bottom: 56.25%;
  margin: 15px;
}

#video-timer {
  position: absolute;
  background: $gray;
  right: 0px;
  top: 0px;
  font-size: 30px;
  font-weight: bold;
  padding: 20px;
  padding-bottom: 10px;
  color: white;
}

#local-video{
  margin: 20px;
  width: 400px;
  height: 300px;
}

.your-video{
  border: 1px solid gray;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  border-radius: 15px;
  height: 400px;
  margin: 30px;
}

.classes-description {
  border: 1px solid gray;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  border-radius: 15px;
  margin: 30px;
}

.exercices{
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin: 10px 50px;
  height: 50px;
  h3 {
    font-weight: bold;
  }
  h4 {
    font-size: 18px;
  }
}

.description-container{
  text-align: left;
}

#join-button {
  margin-top: 220px;
  margin: 20px;
  background: #FF677D;
}
