
.lesson-show {
  text-align: center;
}

.lesson-show h3 {
  text-align: center;
}

.classes-description {
  color: black;
  padding: 45px;
}

.exercise-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.exercise {
  color: black;
  background-color: white;
  border-radius: 2px;
  display: block;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  border: 0 !important;
}

.exercise-active {
  color: #fff;
  background-color: #f8b595;
}

.video-and-description {
  display: flex;
  justify-content: center;
}

.btn-dashboard a {
  color: black;
  box-shadow: 10px;
}

#video-timer {
  position: absolute;
  background: $gray;
  right: 0px;
  top: 0px;
  font-size: 30px;
  font-weight: bold;
  padding: 20px;
  padding-bottom: 10px;
  color: white;
}


.classes-description {
  border: 1px solid gray;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  border-radius: 15px;
  margin: 30px;
}

.description-container{
  text-align: left;
}

#join-button {
  margin-top: 220px;
  margin: 20px;
  background: #FF677D;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.button-container {
  display: flex
}
