.bottom-container {
  display: flex;
  justify-content: space-around;
  background-color: white;
  padding: 36px;
  ul {
    padding: 0;
  }
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
  }
}

.lesson-soon-button {
  opacity: 0.7;
  border-color: #F67280;
}

.lesson-soon-button:hover {
  opacity: 0.7;
}

.lesson-book {
  text-align: center;
  display: inline-block;
  width: 100%;
}


.join-button {
  border-radius: 30px;
}

#myChart {
  width: 100% !important;
  height: auto !important;
}

.dashboard-card {
  margin-bottom: 20px;
  background: $light-purple;
  box-shadow: 0 0 50px rgba(0,0,0,0.4);
}

.card {
  border-radius: 10px;
  color: black;
}

.main-card-product {
  overflow: hidden;
  height: 120px;
  background: $light-purple;
  box-shadow: 0 0 50px rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding: 1em;
  border-radius: 10px;
}

.main-card-product.previous {
  opacity: 0.3;
}
.main-card-product .avatar {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.main-card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.main-card-product h2 {
  font-size: 26px;
  font-weight: bold;
  margin: 0;
}

.main-card-product p {
  font-size: 1.75rem;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.main-card-product .main-card-product-infos {
  padding: 16px;
}

.card-link  {
  color: #F67280;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  margin-top: 15px;
}

.second-card-product-infos {
  font-size: 0.1rem;
  line-height: 1;
  opacity: 1;
  margin-bottom: 0;
  margin-top: 2px;
}

.card-intro {
  background: $dark-purple;
  color: white;
}

.card-title.pricing-card-title {
  font-size: 3rem;
  text-align: center !important;
  color: #FF6A80;
}

.card-metrics {
    border-radius: 10px;
    background: $light-purple;
    box-shadow: 0 0 50px rgba(0,0,0,0.4);
}


.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.tabs-underlined {
  display: flex;
  align-items: center;
}

.tabs-underlined .tab-underlined {
  color: black;
  padding: 8px;
  margin: 8px 16px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
  background-color: transparent !important;
  border: none;
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid #555555;
}
