.bottom-container {
  display: flex;
  justify-content: space-around;
  background-color: white;
  padding: 36px;
  ul {
    padding: 0;
  }
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
  }
}

.lesson-soon-button {
  opacity: 0.7;
  border-color: rgb(220,220,220);
}

.lesson-soon-button:hover {
  opacity: 0.7;
}

.lesson-book {
  text-align: center;
  display: inline-block;
  width: 100%;
}

#myChart {
  width: 600px !important;
  height: 400px !important;
}
