.top-container {
  display: flex;
  justify-content: center;
  padding: 22px;
}

.bottom-container {
  display: flex;
  justify-content: space-around;
  background-color: white;
  padding: 36px;
  ul {
    padding: 0;
  }
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.lesson-join-button {
  opacity: 1;
}

.lesson-book {
  text-align: center;
  display: inline-block;
  width: 100%;
}
