.top-container {
  display: flex;
  justify-content: center;
  padding-top: 22px;
}

.bottom-container {
  display: flex;
  justify-content: space-around;
  ul {
    padding: 0;
  }
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
